<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>fullfood</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<style type="text/css">
body
{
  margin: 0 !important;
  padding: 0 !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important;
}
img
{
  border: 0 !important;
  outline: none !important;
  display: inline-block !important;
}
</style>
<link rel="stylesheet" href="" />
</head>
<body style="margin:0px; padding:0px; font-family:Calibri; box-sizing:border-box;" bgcolor="#ffffff">
<div class="gm-template" data-color-swatches='["Black","White","#1E90FF","#00008B","#778899","#4682B4","Red"]'>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <!--first row-->
    <tr>
      <td align="center" valign="top">
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:auto;background-color:#ffffff;">
          <!--first row-->
          <tr>
            <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
          </tr>
          <!--second row-->
          <tr>
            <td align="left" valign="top">
              <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td valign="top" align="left"><a href="index.html">
                    <img src="images/logo-transparent.png" alt="Sensory Health Systems" /></a>
                  </td>
                  <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                  <td valign="top">
                    <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"><img width="15" src="images/location_big.png"></td>
                        <td valign="top" align="left" style="color:#000; font-size:18px; font-weight:bold; text-align:left;"> Health care Shivranjni </td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td style="font-size:18px; text-align:left;"><b style="color:#000;">Cross</b> Road 279/M, Chiripal</td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td valign="top" align="left" style="font-size:18px; text-align:left;"><b style="color:#000;"> House 279/M Ahmedabad,</b></td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td valign="top" align="left" style="font-size:18px; text-align:left;">Gujarat, 380001, India</td>
                      </tr>
                    </table>
                  </td>
                  <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                  <td valign="top">
                    <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">
                        <img width="20" src="images/call_big.png"></td>
                        <td valign="top" align="left" style="color:#000; font-size:18px; text-align:left;"> 011-9016541771 </td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td style="font-size:18px; text-align:left;">011-2552565656</td>
                      </tr>
                      
                    </table>
                  </td>
                  <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                  <td valign="top">  
                    <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">
                        <img width="20" src="images/site_big.png"></td>
                        <td valign="top" align="left" style="color:#000; font-size:18px; text-align:left;"> info@abcd.com </td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td style="font-size:18px; text-align:left;">www.abcd.com</td>
                      </tr>
                      <tr>
                        <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                        <td style="font-size:18px; text-align:left;">DHP Code: BLD897</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
           </td>
          </tr>
          <!--thired row-->
          <tr>
            <td height="45" style="line-height:0px; font-size:0px;">&nbsp;</td>
          </tr>
          
          <tr>
            <td valign="top" align="left">
              <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                 <tr>
                    <td valign="top" align="left">
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                        <tr>
                            <td colspan="2" style="color:#7c868d; font-size:24px; text-transform:uppercase;">Patient Details</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color:#000; font-size:18px; font-weight:bold; text-transform:uppercase;">Kiran Bulusu (SHS-15752924)</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:10px;"><img src="images/location.png" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">4731 lakeshore Dr Santa Clara,ca, 95054</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:10px;"><img src="images/call.png" style="padding-right:10px;"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; text-align:left; color:#777;">4083861854</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:10px;"><img src="images/mail.png" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;"> Santa@gmail.com</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:10px;"><img src="images/site.png" style="padding-right:10px;"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">www.babybeeps.com</td>
                        </tr>
                    </table>
                    </td>
                 <!--   <td valign="top" align="left">
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                        <tr>
                            <td style="display:inline-block; color:#000; color: #5d9930; font-size:24px; text-transform:uppercase;">Medications</td>
                        </tr>
                        <tr>
                            <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:10px; color: #455a64; font-size:18px;">#25879</td>
                        </tr>
                       
                        <tr>
                            <td style="display: inline-block; padding-bottom:3px; color: #5d9930; font-size: 24px; margin-bottom:0; text-transform:uppercase;">
                            Date</td>
                        </tr>
                        <tr>
                            <td height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block; padding-bottom:5px; color: #455a64; font-size: 18px;">12, May 2016</td>
                        </tr>
                      </table>
                    </td>-->
                    <td valign="top" align="right">
                        <table border="0" align="right" cellpadding="0" cellspacing="0" style="">
                        <tr>
                        <td style="display: inline-block; color: #7c868d; font-size: 24px; font-weight: bold; margin-bottom:0; text-transform:uppercase;">DHP Code:H-testingdhp</td>
                        </tr>
                        <tr>
                            <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="display: inline-block; background-color:#e4e7e8; padding: 10px 40px 20px 10px; color: #020202; font-size:18px; line-height:1.42857; padding-left:20px;" class="print">Referral to Dr. Santa </td>
                        </tr>
                      </table>
                    </td>
                 </tr>
                </table>
            </td>
          </tr>
          
          
          
         
          <tr>
            <td valign="top" align="left">
              <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                 <tr>
                    <td valign="top" align="left">
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                          <tr>
                            <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                    <td colspan="9" height="10" bgcolor="#455a64" style="line-height:0px; font-size:0px; background-color:#455a64;">&nbsp;</td>
                     </tr>
                      <tr>
                            <td height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color:#7c868d; font-size:24px; text-transform:uppercase;">Introduction:</td>
                        </tr>
                       <tr>
                            <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block;" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com </td>
                        </tr>
                    </table>
                    </td>
                    
                 </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td valign="top" align="left">
              <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                 <tr>
                    <td valign="top" align="left">
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                          <tr>
                            <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color:#7c868d; font-size:24px; text-transform:uppercase;">Conclusion:</td>
                        </tr>
                       <tr>
                            <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block;" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com </td>
                        </tr>
                    </table>
                    </td>
                    
                 </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td valign="top" align="left">
              <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                 <tr>
                    <td valign="top" align="left">
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                          <tr>
                            <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color:#7c868d; font-size:24px; text-transform:uppercase;">Dr Santa:</td>
                        </tr>
                       <tr>
                            <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="display: inline-block;" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com </td>
                        </tr>
                        <tr align="left">
                            <td style="display: inline-block;" style="padding-right:10px"></td>
                            <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:right;">Thanks, <br />
Jugal Pal</td>
                        </tr>
                        
                    </table>
                    </td>
                    
                 </tr>
                </table>
            </td>
          </tr>
         
          <tr>
            <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
          </tr>
          <!--sixth row-->
         
         
          
          
        </table></td>
    </tr>
  </table>
</div>
<div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;">- - - - - - - - - - - - - - - - - -</div>
</body>
</html>
