<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>fullfood</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<style type="text/css">
body {
	margin: 0 !important;
	padding: 0 !important;
	-webkit-text-size-adjust: 100% !important;
	-ms-text-size-adjust: 100% !important;
	-webkit-font-smoothing: antialiased !important;
}
img {
	border: 0 !important;
	outline: none !important;
	display: inline-block !important;
}
</style>
<link rel="stylesheet" href="" />
</head>
<body style="margin:0px; padding:0px; font-family:Calibri; box-sizing:border-box;" bgcolor="#ffffff">
<div class="gm-template" data-color-swatches='["Black","White","#1E90FF","#00008B","#778899","#4682B4","Red"]'>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
<!--first row-->

<tr>
<td align="center" valign="top">
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:auto;background-color:#ffffff;">
  <!--first row-->
  <tr>
    <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
  </tr>
  <!--second row-->
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left"><a href="index.html"> <img src="images/logo-transparent.png" alt="Sensory Health Systems" /></a></td>
          <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
          <td valign="top"><table border="0" align="left" cellpadding="0" cellspacing="0" style="">
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"><img width="15" src="images/location_big.png"></td>
                <td valign="top" align="left" style="color:#000; font-size:18px; font-weight:bold; text-align:left;"> Health care Shivranjni </td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td style="font-size:18px; text-align:left;"><b style="color:#000;">Cross</b> Road 279/M, Chiripal</td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td valign="top" align="left" style="font-size:18px; text-align:left;"><b style="color:#000;"> House 279/M Ahmedabad,</b></td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td valign="top" align="left" style="font-size:18px; text-align:left;">Gujarat, 380001, India</td>
              </tr>
            </table></td>
          <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
          <td valign="top"><table border="0" align="left" cellpadding="0" cellspacing="0" style="">
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"><img width="20" src="images/call_big.png"></td>
                <td valign="top" align="left" style="color:#000; font-size:18px; text-align:left;"> 011-9016541771 </td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td style="font-size:18px; text-align:left;">011-2552565656</td>
              </tr>
            </table></td>
          <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
          <td valign="top"><table border="0" align="left" cellpadding="0" cellspacing="0" style="">
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"><img width="20" src="images/site_big.png"></td>
                <td valign="top" align="left" style="color:#000; font-size:18px; text-align:left;"> info@abcd.com </td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td style="font-size:18px; text-align:left;">www.abcd.com</td>
              </tr>
              <tr>
                <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                <td style="font-size:18px; text-align:left;">DHP Code: BLD897</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <!--thired row-->
  <tr>
    <td height="45" style="line-height:0px; font-size:0px;">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" align="left"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left"><table border="0" align="left" cellpadding="0" cellspacing="0" style="">
              <tr>
                <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2" style="color:#000; font-size:18px; font-weight:bold; text-transform:uppercase;">BILL TO:</td>
              </tr>
              <tr>
                <td colspan="2" height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="display: inline-block; padding-bottom:10px;"><img src="images/location.png" style="padding-right:10px"></td>
                <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">Nehal Sharma (SHS-98787980) <br />
                  NA Ahmedabad, Gujarat</td>
              </tr>
              <tr>
                <td style="display: inline-block; padding-bottom:10px;"><img src="images/call.png" style="padding-right:10px;"></td>
                <td style="display: inline-block; padding-bottom:10px; font-size:18px; text-align:left; color:#777;">8511711813</td>
              </tr>
              <tr>
                <td style="display: inline-block; padding-bottom:10px;"><img src="images/mail.png" style="padding-right:10px"></td>
                <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;"> Nehal@gmail.com</td>
              </tr>
              <tr>
                <td style="display: inline-block; padding-bottom:10px;"><img src="images/site.png" style="padding-right:10px;"></td>
                <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">www.babybeeps.com</td>
              </tr>
            </table></td>
        
          <td valign="top" align="right"><table border="0" align="right" cellpadding="0" cellspacing="0" style="">
              <tr>
                <td style="display: inline-block; color: #7c868d; font-size: 24px; font-weight: bold; margin-bottom:0; text-transform:uppercase;">INVOICE DHP Code : H-testingdhp INVOICE NO : #54</td>
              </tr>
              <tr>
                <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="width:25%; display: inline-block; background-color:#67A22D; border:#000 1px solid; border-top-right-radius:15px; border-top-left-radius:15px;  padding: 20px 17px; color: #020202; font-size:20px; line-height:1.42857; margin-right:5px;" class="print">Total Due <br />
                  <sub style="text-align:right; float:right"> 2000</sub></td>
                <td style="width:25%; display: inline-block; background-color:#67a22d; padding: 20px 17px; color: #020202; font-size:20px; line-height:1.42857; border:#000 1px solid; border-top-right-radius:15px; border-top-left-radius:15px; margin-right:5px;" class="print">Invoice Date<br />
                  <sub style="text-align:right; float:right"> 2016-07-15</sub></td>
                <td style="width:25%; display: inline-block; background-color:#67a22d; padding: 20px 17px; color: #020202; font-size:20px; line-height:1.42857;  border:#000 1px solid; border-top-right-radius:15px; border-top-left-radius:15px; " class="print">Due Date<br />
                  <sub style="text-align:right; float:right"> 2016-07-15</sub></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
    <tr>
  
    <td valign="top" align="left">
  
  <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" align="left">
      <table border="0" align="left" cellpadding="0" cellspacing="0" width="100%" style="">
        <tr>
          <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px; color:#fff;  font-size:18px; text-transform:uppercase; text-align:center"  width="15%">SR. NO</td>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px; color:#fff; font-size:18px; text-transform:uppercase; text-align:center"  width="15%">DATE OF SERVICE</td>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px; color:#fff; font-size:18px; text-transform:uppercase; text-align:center"  width="15%">DESCRIPTION</td>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px; color:#fff; font-size:18px; text-transform:uppercase; text-align:center"  width="15%">DIAGNOSIS CODE</td>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px;  color:#fff; font-size:18px; text-transform:uppercase; text-align:center"  width="15%">BILLING CODE</td>
          <td bgcolor="#67A22D" style="background:#67A22D; padding:8px 5px; color:#fff; font-size:18px; text-transform:uppercase; text-align:center"  width="15%">TOTAL</td>
        </tr>
        <tr>
        
        
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">1</td>
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">2016-07-26</td>
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">asd
            (Diagnosis)</td>
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">sda</td>
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">adas</td>
          <td bgcolor="#cccccc" style="color:#7c868d; font-size:18px; line-height:35px; text-transform:uppercase; background-color:#cccccc; text-align:center;"  width="15%">2000</td>
        </tr>
      </table>
      <table>
        <tr>
          <td height="45" style="line-height:0px; font-size:0px;">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" align="left"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" align="left"><table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                    <tr>
                      <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" style="color:#000; font-size:18px; font-weight:bold; text-transform:uppercase;">ADDITIONAL NOTES:</td>
                    </tr>
                    <tr>
                    <tr>
                      <td colspan="2" height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">
                      <input type="text" class="" style="width:350px; border:#000000 2px solid; height:60px; background:#CCCCCC; padding:0 10px;" /></td>
                    </tr>
                    <tr>
                      <td colspan="2" height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" style="color:#000; font-size:18px; font-weight:bold; text-transform:uppercase;">ADDITIONAL NOTES:</td>
                    </tr>
                    <tr>
                      <td colspan="2" height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">
                      <input type="text" style="width:350px; border:#000000 2px solid; height:60px; background:#CCCCCC; padding:0 10px;" /></td>
                    </tr>
                  </table>
                  </td>
                <td valign="top" align="right"><table border="0" align="right" cellpadding="0" cellspacing="0" style="">
                    <tr>
                      <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px; " class="print">Total Charges: </td>
                      <td style="text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print"> 200</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px;" class="print">Total Discounts: </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print"> 0</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px;" class="print">Total: </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print"> 2000</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px;" class="print">Advance Paid: </td>
                      <td style="text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print"> 0</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px;" class="print">Patient Credit: </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print">0</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px;" class="print">Total Paid Via Cash </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px;" class="print">2000</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:20px; margin-right:5px; background:#67A22D;" class="print">Total Balance Due: </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:18px; margin-right:5px; background:#67A22D;" class="print">2000</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:15px; margin-right:5px; " class="print">Insurance Balance Due: </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:15px; margin-right:5px; " class="print">0</td>
                    </tr>
                    <tr>
                      <td style="display: inline-block; padding: 5px 17px; color: #020202; font-size:15px; margin-right:5px; " class="print">Total Paid Via Credit Card </td>
                      <td style=" text-align:right; padding: 5px 17px; color: #020202; font-size:15px; margin-right:5px; " class="print">0</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="10" style="line-height:0px; font-size:0px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#7c868d; font-size:24px; text-transform:uppercase;">TERM AND CONDITION</td>
        </tr>
        <tr>
          <td colspan="2" height="0" style="line-height:0px; font-size:0px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="display: inline-block;" style="padding-right:10px">
          </td>
        
        
          <td style="display: inline-block; padding-bottom:10px; font-size:18px; color:#777; text-align:left;">Lorem ipsum dolor sit amet, cinsectetur adipisicing elit, see do aiusmod tempot incididunt utlabore et dolore
            magna alique. ut enim ad minim veniam, quis mostrud exerctiona ullamco laboris nisi aliquieo ex ea.com</td>
        </tr>
      </table>
      </td>
    
      </tr>
    
  </table>
    </td>
  
    </tr>
  
  <tr>
    <td valign="top" align="center"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="center"><table border="0" align="left" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
              </tr>
              
                <td style="padding-bottom:10px; font-size:18px; color:#777; text-align:center;">I authorize the release of any medical information necessary to process this claim. </td>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#455a64" height="10" style="line-height:0px; font-size:0px; background-color:#455a64;">&nbsp;</td>
  </tr>
    <tr>
  
    <td valign="top" align="left">
  
  <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
    
      <td valign="top" align="left">
    
    <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
      <tr>
        <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
      </tr>
      <tr>
        <td style="display: inline-block; padding-bottom:10px; font-size:15px; color:#777; text-align:left;">This bill is generated with Digital Health  Pulse.<br />
          *Digital Health Pulse(DHP) is online (cloud) based clinical Practice Management product from Sensory Health Systems.Works in offline mode when required. <br />
          <strong> Interested? Call us at or Email us at info@sensoryhealth.com</strong></td>
      </tr>
      <tr align="left">
          <td style="display: inline-block;" style="padding-right:10px">
        </td>
        </tr>
      
    </table>
      </td>
    
      </tr>
    
    <tr>
      <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
    </tr>
    <!--sixth row-->
    
  </table>
    </td>
  
    </tr>
  
</table>
</div>
<div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;">- - - - - - - - - - - - - - - - - -</div>
</body>
</html>
